<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.castle.fortress.admin.knowledge.mapper.KbModelCategoryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="kbModelCategoryMap" type="com.castle.fortress.admin.knowledge.entity.KbModelCategoryEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <resultMap id="kbModelCategoryExtendsMap" extends="kbModelCategoryMap" type="com.castle.fortress.admin.knowledge.entity.KbModelCategoryEntity">
        <result column="create_user_name" property="createUserName" />
    </resultMap>
    <select id="extendsList" resultMap="kbModelCategoryExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name
        FROM
        kb_model_category t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        WHERE
        t.is_deleted = 2
        <if test='kbModelCategoryEntity.id != null'>
            AND t.id = #{kbModelCategoryEntity.id}
        </if>
        <if test='kbModelCategoryEntity.name != null and kbModelCategoryEntity.name != ""'>
            AND t.name like concat('%',#{kbModelCategoryEntity.name},'%')
        </if>
        <if test='kbModelCategoryEntity.sort != null'>
            AND t.sort like concat('%',#{kbModelCategoryEntity.sort},'%')
        </if>
        <if test='kbModelCategoryEntity.status != null'>
            AND t.status like concat('%',#{kbModelCategoryEntity.status},'%')
        </if>
        <if test='kbModelCategoryEntity.createUser != null'>
            AND t.create_user like concat('%',#{kbModelCategoryEntity.createUser},'%')
        </if>
        <if test='kbModelCategoryEntity.createTime != null'>
            AND t.create_time like concat('%',#{kbModelCategoryEntity.createTime},'%')
        </if>
        <if test='kbModelCategoryEntity.updateUser != null'>
            AND t.update_user like concat('%',#{kbModelCategoryEntity.updateUser},'%')
        </if>
        <if test='kbModelCategoryEntity.updateTime != null'>
            AND t.update_time like concat('%',#{kbModelCategoryEntity.updateTime},'%')
        </if>
        <if test='kbModelCategoryEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{kbModelCategoryEntity.isDeleted},'%')
        </if>
            order by create_time desc
        <if test="map != null">
            limit #{map.offset},#{map.rows}
        </if>
    </select>
    <select id="extendsCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
        kb_model_category t
        WHERE
            t.is_deleted = 2
        <if test='kbModelCategoryEntity.id != null'>
            AND t.id = #{kbModelCategoryEntity.id}
        </if>
        <if test='kbModelCategoryEntity.name != null and kbModelCategoryEntity.name != ""'>
            AND t.name like concat('%',#{kbModelCategoryEntity.name},'%')
        </if>
        <if test='kbModelCategoryEntity.sort != null'>
            AND t.sort like concat('%',#{kbModelCategoryEntity.sort},'%')
        </if>
        <if test='kbModelCategoryEntity.status != null'>
            AND t.status like concat('%',#{kbModelCategoryEntity.status},'%')
        </if>
        <if test='kbModelCategoryEntity.createUser != null'>
            AND t.create_user like concat('%',#{kbModelCategoryEntity.createUser},'%')
        </if>
        <if test='kbModelCategoryEntity.createTime != null'>
            AND t.create_time like concat('%',#{kbModelCategoryEntity.createTime},'%')
        </if>
        <if test='kbModelCategoryEntity.updateUser != null'>
            AND t.update_user like concat('%',#{kbModelCategoryEntity.updateUser},'%')
        </if>
        <if test='kbModelCategoryEntity.updateTime != null'>
            AND t.update_time like concat('%',#{kbModelCategoryEntity.updateTime},'%')
        </if>
        <if test='kbModelCategoryEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{kbModelCategoryEntity.isDeleted},'%')
        </if>
    </select>
    <select id="getByIdExtends" resultMap="kbModelCategoryExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name
        FROM
        kb_model_category t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        WHERE
        t.is_deleted = 2
        AND t.id = #{id}
    </select>

</mapper>
