<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.castle.fortress.admin.knowledge.mapper.KbSubjectWarehouseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="kbSubjectWarehouseMap" type="com.castle.fortress.admin.knowledge.entity.KbSubjectWarehouseEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="model_id" property="modelId"/>
        <result column="is_show" property="isShow"/>
        <result column="cover" property="cover"/>
        <result column="remark" property="remark"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <resultMap id="kbSubjectWarehouseExtendsMap" extends="kbSubjectWarehouseMap" type="com.castle.fortress.admin.knowledge.entity.KbSubjectWarehouseEntity">
        <result column="create_user_name" property="createUserName" />
    </resultMap>
    <delete id="deleteById" parameterType="java.io.Serializable">
        delete from kb_subject_warehouse where id =#{id}
    </delete>
    <select id="extendsList" resultMap="kbSubjectWarehouseExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name
        FROM
        kb_subject_warehouse t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        WHERE
        t.is_deleted = 2
        <if test='kbSubjectWarehouseEntity.id != null'>
            AND t.id like concat('%',#{kbSubjectWarehouseEntity.id},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.name != null and kbSubjectWarehouseEntity.name != ""'>
            AND t.name like concat('%',#{kbSubjectWarehouseEntity.name},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.modelId != null'>
            AND t.model_id = #{kbSubjectWarehouseEntity.modelId}
        </if>
        <if test='kbSubjectWarehouseEntity.isShow != null'>
            AND t.is_show = #{kbSubjectWarehouseEntity.isShow}
        </if>
        <if test='kbSubjectWarehouseEntity.cover != null and kbSubjectWarehouseEntity.cover != ""'>
            AND t.cover like concat('%',#{kbSubjectWarehouseEntity.cover},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.remark != null and kbSubjectWarehouseEntity.remark != ""'>
            AND t.remark like concat('%',#{kbSubjectWarehouseEntity.remark},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.sort != null'>
            AND t.sort like concat('%',#{kbSubjectWarehouseEntity.sort},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.status != null'>
            AND t.status = #{kbSubjectWarehouseEntity.status}
        </if>
        <if test='kbSubjectWarehouseEntity.createTime != null'>
            AND t.create_time like concat('%',#{kbSubjectWarehouseEntity.createTime},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.createUser != null'>
            AND t.create_user like concat('%',#{kbSubjectWarehouseEntity.createUser},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.updateUser != null'>
            AND t.update_user like concat('%',#{kbSubjectWarehouseEntity.updateUser},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.updateTime != null'>
            AND t.update_time like concat('%',#{kbSubjectWarehouseEntity.updateTime},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{kbSubjectWarehouseEntity.isDeleted},'%')
        </if>
            order by create_time desc
        <if test="map != null">
            limit #{map.offset},#{map.rows}
        </if>
    </select>
    <select id="extendsCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
        kb_subject_warehouse t
        WHERE
            t.is_deleted = 2
        <if test='kbSubjectWarehouseEntity.id != null'>
            AND t.id like concat('%',#{kbSubjectWarehouseEntity.id},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.name != null and kbSubjectWarehouseEntity.name != ""'>
            AND t.name like concat('%',#{kbSubjectWarehouseEntity.name},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.modelId != null'>
            AND t.model_id = #{kbSubjectWarehouseEntity.modelId}
        </if>
        <if test='kbSubjectWarehouseEntity.isShow != null'>
            AND t.is_show = #{kbSubjectWarehouseEntity.isShow}
        </if>
        <if test='kbSubjectWarehouseEntity.cover != null and kbSubjectWarehouseEntity.cover != ""'>
            AND t.cover like concat('%',#{kbSubjectWarehouseEntity.cover},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.remark != null and kbSubjectWarehouseEntity.remark != ""'>
            AND t.remark like concat('%',#{kbSubjectWarehouseEntity.remark},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.sort != null'>
            AND t.sort like concat('%',#{kbSubjectWarehouseEntity.sort},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.status != null'>
            AND t.status = #{kbSubjectWarehouseEntity.status}
        </if>
        <if test='kbSubjectWarehouseEntity.createTime != null'>
            AND t.create_time like concat('%',#{kbSubjectWarehouseEntity.createTime},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.createUser != null'>
            AND t.create_user like concat('%',#{kbSubjectWarehouseEntity.createUser},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.updateUser != null'>
            AND t.update_user like concat('%',#{kbSubjectWarehouseEntity.updateUser},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.updateTime != null'>
            AND t.update_time like concat('%',#{kbSubjectWarehouseEntity.updateTime},'%')
        </if>
        <if test='kbSubjectWarehouseEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{kbSubjectWarehouseEntity.isDeleted},'%')
        </if>
    </select>
    <select id="getByIdExtends" resultMap="kbSubjectWarehouseExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name
        FROM
        kb_subject_warehouse t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        WHERE
        t.is_deleted = 2
        AND t.id = #{id}
    </select>
    <select id="selectBasicByHouse" resultType="com.castle.fortress.admin.knowledge.dto.KbSubjectWarehouseDto">
        select *
        from kb_subject_warehouse
        where model_id = #{modelId}
    </select>


</mapper>
