<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.castle.fortress.admin.system.mapper.ApiSecretMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="apiSecretMap" type="com.castle.fortress.admin.system.entity.ApiSecretEntity">
        <result column="id" property="id"/>
        <result column="cust_name" property="custName"/>
        <result column="secret_id" property="secretId"/>
        <result column="secret_key" property="secretKey"/>
        <result column="expired_date" property="expiredDate"/>
        <result column="status" property="status"/>
    </resultMap>
    <update id="expiredSecrets" >
        update castle_api_secret set status = 2
        where status = 1 and expired_date &lt; now()
    </update>

</mapper>
