<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.castle.fortress.admin.system.mapper.CastleHelpArticleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="castleHelpArticleMap" type="com.castle.fortress.admin.system.entity.CastleHelpArticleEntity">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="type_id" property="typeId"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <resultMap id="castleHelpArticleExtendsMap" extends="castleHelpArticleMap" type="com.castle.fortress.admin.system.entity.CastleHelpArticleEntity">
        <result column="create_user_name" property="createUserName" />
    </resultMap>
    <select id="extendsList" resultMap="castleHelpArticleExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name,
        t2.name typeName
        FROM
        castle_help_article t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        LEFT OUTER JOIN castle_help_article_type t2 ON t.type_id = t2.id
        WHERE
        t.is_deleted = 2
        <if test='castleHelpArticleEntity.id != null'>
            AND t.id like concat('%',#{castleHelpArticleEntity.id},'%')
        </if>
        <if test='castleHelpArticleEntity.title != null and castleHelpArticleEntity.title != ""'>
            AND t.title like concat('%',#{castleHelpArticleEntity.title},'%')
        </if>
        <if test='castleHelpArticleEntity.content != null and castleHelpArticleEntity.content != ""'>
            AND t.content like concat('%',#{castleHelpArticleEntity.content},'%')
        </if>
        <if test='castleHelpArticleEntity.remark != null and castleHelpArticleEntity.remark != ""'>
            AND t.remark like concat('%',#{castleHelpArticleEntity.remark},'%')
        </if>
        <if test='castleHelpArticleEntity.typeId != null'>
            AND t.type_id = #{castleHelpArticleEntity.typeId}
        </if>
        <if test='castleHelpArticleEntity.status != null'>
            AND t.status like concat('%',#{castleHelpArticleEntity.status},'%')
        </if>
        <if test='castleHelpArticleEntity.createUser != null'>
            AND t.create_user like concat('%',#{castleHelpArticleEntity.createUser},'%')
        </if>
        <if test='castleHelpArticleEntity.createTime != null'>
            AND t.create_time like concat('%',#{castleHelpArticleEntity.createTime},'%')
        </if>
        <if test='castleHelpArticleEntity.updateUser != null'>
            AND t.update_user like concat('%',#{castleHelpArticleEntity.updateUser},'%')
        </if>
        <if test='castleHelpArticleEntity.updateTime != null'>
            AND t.update_time like concat('%',#{castleHelpArticleEntity.updateTime},'%')
        </if>
        <if test='castleHelpArticleEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{castleHelpArticleEntity.isDeleted},'%')
        </if>
            order by create_time desc
        <if test="map != null">
            limit #{map.offset},#{map.rows}
        </if>
    </select>
    <select id="extendsCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
        castle_help_article t
        WHERE
            t.is_deleted = 2
        <if test='castleHelpArticleEntity.id != null'>
            AND t.id like concat('%',#{castleHelpArticleEntity.id},'%')
        </if>
        <if test='castleHelpArticleEntity.title != null and castleHelpArticleEntity.title != ""'>
            AND t.title like concat('%',#{castleHelpArticleEntity.title},'%')
        </if>
        <if test='castleHelpArticleEntity.content != null and castleHelpArticleEntity.content != ""'>
            AND t.content like concat('%',#{castleHelpArticleEntity.content},'%')
        </if>
        <if test='castleHelpArticleEntity.remark != null and castleHelpArticleEntity.remark != ""'>
            AND t.remark like concat('%',#{castleHelpArticleEntity.remark},'%')
        </if>
        <if test='castleHelpArticleEntity.typeId != null'>
            AND t.type_id = #{castleHelpArticleEntity.typeId}
        </if>
        <if test='castleHelpArticleEntity.status != null'>
            AND t.status like concat('%',#{castleHelpArticleEntity.status},'%')
        </if>
        <if test='castleHelpArticleEntity.createUser != null'>
            AND t.create_user like concat('%',#{castleHelpArticleEntity.createUser},'%')
        </if>
        <if test='castleHelpArticleEntity.createTime != null'>
            AND t.create_time like concat('%',#{castleHelpArticleEntity.createTime},'%')
        </if>
        <if test='castleHelpArticleEntity.updateUser != null'>
            AND t.update_user like concat('%',#{castleHelpArticleEntity.updateUser},'%')
        </if>
        <if test='castleHelpArticleEntity.updateTime != null'>
            AND t.update_time like concat('%',#{castleHelpArticleEntity.updateTime},'%')
        </if>
        <if test='castleHelpArticleEntity.isDeleted != null'>
            AND t.is_deleted like concat('%',#{castleHelpArticleEntity.isDeleted},'%')
        </if>
    </select>
    <select id="getByIdExtends" resultMap="castleHelpArticleExtendsMap">
        SELECT
        t.*,
        t1.real_name create_user_name
        FROM
        castle_help_article t
        LEFT OUTER JOIN castle_sys_user t1 ON t.create_user  = t1.id
        WHERE
        t.is_deleted = 2
        AND t.id = #{id}
    </select>
    <select id="selectDataList" resultType="com.castle.fortress.admin.system.entity.CastleHelpArticleEntity">
        SELECT
            t.*,
            t1.name typeName
        FROM
            castle_help_article t
                LEFT OUTER JOIN castle_help_article_type t1 ON t.type_id  = t1.id
        WHERE
            t.is_deleted = 2
          <if test="typeId != null and typeId != ''">
              and t.type_id = #{typeId}
          </if>
          <if test="status != null and status != ''">
              and t.status = #{status}
          </if>
            order by create_time desc
    </select>

</mapper>
