<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.castle.fortress.admin.system.mapper.SysRegionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="sysRegionMap" type="com.castle.fortress.admin.system.entity.SysRegionEntity">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="tree_level" property="treeLevel"/>
        <result column="leaf" property="leaf"/>
        <result column="sort" property="sort"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="parent_name" property="parentName"/>
    </resultMap>
    <select id="getByIdExtends" resultMap="sysRegionMap">
        select t.* ,t1.name parent_name
        from castle_sys_region t left outer join castle_sys_region t1
        on t.parent_id = t1.id
        where t.id = #{id}
    </select>

</mapper>
